# Prerequisites
*.d

# Visual Studio Temp files
*.suo
*.db
*.opendb
*.tlog
*.log
*.idb
*.pdb
*.ilk
*.enc
*.iobj
*.ipdb
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# sqlite3
*.sqlite
*.sqlite-journal
